<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hi2.app" >
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:name="com.example.hi2.Hi2Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 主界面 -->
        <activity
                android:name=".MainActivity"
                android:screenOrientation="portrait"
                android:theme="@style/horizontal_slide" >
        </activity>

        <!-- 登录 -->
        <activity
                android:name=".LoginActivity"
                android:screenOrientation="portrait"
                android:theme="@style/horizontal_slide" >
        </activity>

        <!-- 配置 -->
        <activity
                android:name=".SetActivity"
                android:screenOrientation="portrait"
                android:theme="@style/horizontal_slide" >
        </activity>

        <!-- 用户信息 -->
        <activity
                android:name=".UserInfoActivity"
                android:screenOrientation="portrait"
                android:theme="@style/horizontal_slide" >
        </activity>

        <!-- 聊天界面 -->
        <activity
                android:name=".ChatActivity"
                android:screenOrientation="portrait"
                android:theme="@style/horizontal_slide" >
        </activity>

        <!-- 添加朋友 -->
        <activity
                android:name=".AddFriendsFinalActivity"
                android:screenOrientation="portrait"
                android:theme="@style/horizontal_slide" >
        </activity>

        <!-- 设置页面 -->
        <activity
                android:name=".SettingActivity"
                android:screenOrientation="portrait"
                android:theme="@style/horizontal_slide" >
        </activity>
    </application>

</manifest>
